.borderAnimation:before{
    content: '';
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 5px solid transparent;
    z-index: 1;
    animation-name: animateBackwards 1s ease-in-out forwards;
}

.borderAnimation:hover:before{
    animation: animate 1s ease-in-out forwards;
}

@keyframes animate{
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #262626;
    }
    100%{
        border-top-color: #262626;
        border-right-color: #262626;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }
}

@keyframes animateBackwards{
    0%{
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-right-color: #262626;
        border-bottom-color: #262626;
        border-left-color: #262626;
    }
    50%{
        width: 100%;
        height: 100%;
        border-top-color: #262626;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #262626;
    }
    100%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

